@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "../bower_components/bootstrap-social/bootstrap-social.less";

@import "../bower_components/bootswatch/simplex/variables";

@import "imports";

body {
    font-family: "Ubuntu";
    font-weight: 300;
}

.ProfilePhoto {
    border-radius: 50%;
}
