@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "../bower_components/bootstrap-social/bootstrap-social.less";

@import "../bower_components/bootswatch/simplex/variables";

@import "imports";

body {
    font-family: "Ubuntu";
    font-weight: 300;
}

.ProfilePhoto {
    border-radius: 50%;
}

.Foot.Closed {
    margin: 0 auto 40px;
    text-align: center;

    .SignInOrRegister {
        background: transparent;
        color: #3e3e47;

        a {
            color: @link-hover-color;
            text-decoration: underline;
        }
    }
}

.page-content {
    width:100%;
}

.PageControls {
    text-align: center;
}

.page-content .PagerWrap .PagerWrap, .PageControls .PagerWrap, .BeforeCommentHeading .PagerWrap, .PagerWrap .NumberedPager, .PageControls .NumberedPager, .BeforeCommentHeading .NumberedPager {
    float:none !important;
    margin-bottom: 40px;
}

#vanilla_discussions_index .BoxNewDiscussion {
    display:none;
}
